@media print {
    .invoice-header {
        color: black !important;
        background-color: #191962 !important;
        -webkit-print-color-adjust: exact;
    }
}



.invoice-header {
    padding: 25px;
    background-color: #191962;
    color: white;
}

.invoice-color {
    color : rgb(25, 25, 98);
    font-weight: bold;
}

.divider {
    border-width: 0.1em;
    border-color: rgb(25, 25, 98);
}

.invoice-right {
    text-align: right;
}

.invoice-subtitles {
    font-size: 14px;
}

.invoice thead.invoice {
    font-weight: bold;
    color: #191962;
}
